.App {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: #909090;
  margin-left: 20px;
  padding: 0;
  max-height: 240px;
  overflow-y: scroll;
}
li{
  line-height: 60px;
  box-sizing: border-box;
  background: #BBBBBB;
  text-align: center;
}
.field{
  width: 100%;
}
